/* styles for the main container component*/
.main-container {
    background-color:#dee2e6;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 35% 60%;
    padding:2rem 0 2rem;
    gap:1rem;
    justify-items: center;
    

}

/* styles for the form on mainContainer.jsx*/
form {
    padding:3rem;
    background-color:white;
}

/* styles for buttons */
.buttons {
    display:flex;
    gap:0.5rem;
}


.edit-button, .submit {
    color:white;
    background-color:blue;
    margin:0.5rem 0 0.5rem 0; 
}

input:valid {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
    color:black;
}

input:invalid {
    background-color:white;
    border:3px solid #ffa8a8;
    color:black;
}

input:focus {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
}

input:hover {
    border:3px solid #b2f2bb;
    background-color:white;

}

textarea {
    background-color:white;
}

textarea:invalid {
    border:3px solid #ffa8a8;
}

textarea:valid {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
}

textarea:focus {
    background-color:#b2f2bb;
}

textarea:hover {
    border:3px solid #b2f2bb;
    background-color:white;
}

button:hover {
    background-color:#ffec99;
    color:black;
    border:2px solid #ffec99;
}

input[type="date"] {
    background-color:purple;
}

.display {
    width:100%;
}
.output {
    height:100%;
    padding:0.6rem;
    text-align: center;
    background-color:#d3f9d8;
    width:100%;
}

.details {
    display:flex;
    justify-content: space-around;
}

.summary {
    margin:0.3rem 0 0.3rem;
    text-align: left;
    padding:0.4rem;
}

.edu-display {
    text-align: left;
    padding:0.4rem;
}

.timeline {
    display:flex;
    justify-content: space-between;
}

.expe-display {
    text-align: left;
    margin:0.4rem 0 0.4rem;
    padding:0.4rem;
}

.title-display {
    margin-bottom:0.4rem;
}

.response-display {
    padding:0.6rem;
    margin:0.4rem 0 0.4rem;
    display:flex;
    justify-content:center;
    flex-direction: column;
    margin-left:1rem;
}

.download {
    background-color:blue;
    border:2px solid blue;
    color:white;
}