.main-container {
    border:2px solid black;
    grid-row:2/3;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    padding:5px;

}

form {
    border:2px solid blue;
    height:100%;
}

.display {
    border:2px solid blue;
    height:100%;
}