/* styles for the main container component*/
.main-container {
    border:2px solid black;
    grid-row:2/3;
    display:grid;
    grid-template-columns: 35% 60%;
    padding:5px;
    gap:1rem;
    justify-items: center;
    

}

/* styles for the form on mainContainer.jsx*/
form {
    border:2px solid blue;
    padding:3rem;
}

/* styles for the display board of the resume in the mainContainer.jsx*/
.display {
    border:2px solid blue;
}

/* styles for info.jsx component*/
.info {
    border:2px solid red;
}

/* styles for education component education.jsx*/
.education {
    border:2px solid red;
}

/* styles for buttons */
.buttons {
    border:2px solid black;
    display:flex;
    gap:0.5rem;
}


.edit-button, .submit {
    color:white;
    background-color:blue;
    margin:0.5rem 0 0.5rem 0; 
}

input:valid {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
    color:black;
}

input:invalid {
    background-color:white;
    border:3px solid #ffa8a8;
    color:black;
}

input:focus {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
}

input:hover {
    border:3px solid #b2f2bb;
    background-color:white;

}

textarea {
    background-color:white;
}

textarea:invalid {
    border:3px solid #ffa8a8;
}

textarea:valid {
    background-color:#b2f2bb;
    border:3px solid #b2f2bb;
}

textarea:focus {
    background-color:#b2f2bb;
}

textarea:hover {
    border:3px solid #b2f2bb;
    background-color:white;
}

button:hover {
    background-color:#ffec99;
    color:black;
    border:2px solid #ffec99;
}

input[type="date"] {
    background-color:purple;
}


.output {
    border:2px solid purple;
    height:100%;
    padding:0.6rem;
    text-align: center;
}

.details {
    display:flex;
    border:2px solid black;
    justify-content: space-around;
}

.summary {
    border:2px solid black;
    margin:0.3rem 0 0.3rem;
    text-align: left;
    padding:0.4rem;
}

.edu-display {
    border:2px solid black;
    text-align: left;
    padding:0.4rem;
}

.timeline {
    border:2px solid black;
    display:flex;
    justify-content: space-between;
}

.expe-display {
    border:2px solid black;
    text-align: left;
    margin:0.4rem 0 0.4rem;
    padding:0.4rem;
}

.title-display {
    border:2px solid black;
    margin-bottom:0.4rem;
}