
h1 {
    color:black;
}

p {
    color:black;
}

.header {
    border:2px solid black;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    grid-row:1/2;
    background-color:#1c7ed6;
    
}